{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter Email" />
    <input type="last_lesson" name="last_lesson" placeholder="Enter last lesson" />
    <input type="submit" value="submit"/>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}